n8n/workflows/Calendar Agent.json
{"createdAt":"2025-05-14T10:08:59.365Z","updatedAt":"2025-05-14T11:08:22.795Z","id":"qRNnienRApKIiDBL","name":"Calendar Agent","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"d5738864-39cd-4730-bbae-25f1b554b863","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-920,360],"credentials":{"openAiApi":{"id":"gVWPQBTPJWEjy9Km","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"236d84d7-b7c2-44b5-b965-1f5f73fa1d27","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,200]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"26592a23-d33c-435b-af90-b2cf78333ed3","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }} - We use GMT + 2.00 Central European Time / Amsterdam.\nIf a duration for an event isn't specified, assume it will be one hour."}},"id":"ae9db333-1dc0-4acc-a6af-ef3b2c41ca44","name":"Calendar Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-680,100],"onError":"continueErrorOutput"},{"parameters":{"calendar":{"__rl":true,"value":"ealderino@gmail.com","mode":"list","cachedResultName":"ealderino@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-220,360],"id":"6ba1715a-8191-4d2a-b706-fdc88ca92f0a","name":"Create Event with Attendee","credentials":{"googleCalendarOAuth2Api":{"id":"GyrKOz33F6sx5LwP","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"ealderino@gmail.com","mode":"list","cachedResultName":"ealderino@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-360,460],"id":"7a4b8c98-ffd5-4c07-8dce-9168b66f7804","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"GyrKOz33F6sx5LwP","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ealderino@gmail.com","mode":"list","cachedResultName":"ealderino@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-500,500],"id":"26394051-6422-407c-ba40-7f9f934fa11c","name":"Get Events","credentials":{"googleCalendarOAuth2Api":{"id":"GyrKOz33F6sx5LwP","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"ealderino@gmail.com","mode":"list","cachedResultName":"ealderino@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-640,480],"id":"525fa61d-f044-4fa0-b7ea-bf00cd3d030c","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"GyrKOz33F6sx5LwP","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"ealderino@gmail.com","mode":"list","cachedResultName":"ealderino@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-780,440],"id":"58feb892-03bc-444f-868a-9637ed82228a","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"GyrKOz33F6sx5LwP","name":"Google Calendar account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-920,100],"id":"7ad3805f-d275-4e2b-8d46-9fd94e4630b8","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Calendar Agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Calendar Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f9148be2-76f1-412e-b7a1-99392b1df415","triggerCount":0,"shared":[{"createdAt":"2025-05-15T16:42:26.851Z","updatedAt":"2025-05-15T16:42:26.851Z","role":"workflow:owner","workflowId":"qRNnienRApKIiDBL","projectId":"gUCywJdvaDilwkpK","project":{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T16:20:44.477Z","id":"gUCywJdvaDilwkpK","name":"Jim Pansen <ealderino@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T15:52:32.999Z","role":"project:personalOwner","userId":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","projectId":"gUCywJdvaDilwkpK","user":{"createdAt":"2025-05-15T15:51:26.918Z","updatedAt":"2025-05-15T21:05:21.758Z","id":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","email":"ealderino@gmail.com","firstName":"Jim","lastName":"Pansen","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"qRNnienRApKIiDBL","userActivatedAt":1747343115191,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}