n8n/workflows/Coinmarketcap Crypto Agent.json
{"createdAt":"2025-05-15T10:00:26.981Z","updatedAt":"2025-05-15T12:17:57.628Z","id":"WgTuitczjrr2eJ2J","name":"Coinmarketcap Crypto Agent","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"}]}},"id":"6e009e00-4dc5-41bf-8b6e-5b1d34ee2a9a","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[800,1040],"typeVersion":1.1},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"You are an AI cryptocurrency analyst. You have access to six live CoinMarketCap tools, each linked to a real API endpoint. These tools allow you to retrieve price data, metadata, market rankings, conversions, and global market stats.\n\nUse the most relevant tool based on the user’s intent. Below is a list of your currently connected tools, their functions, and accepted input parameters.\n\n---\n\n### 🔧 **Connected Tools & Supported Inputs**\n\n---\n\n#### 1. **Crypto Map**\n- **Endpoint**: `/v1/cryptocurrency/map`\n- **Purpose**: Get CoinMarketCap IDs, symbols, and names.\n- **Supported Inputs**:\n  - `symbol` – (Optional) Comma-separated crypto symbols (e.g., BTC,ETH)\n  - `listing_status` – `active`, `inactive`, or `untracked`\n  - `start` – (Pagination start)\n  - `limit` – (Number of results)\n- **Use Cases**:\n  - “What is the CoinMarketCap ID for SOL?”\n  - “List all active cryptocurrencies.”\n\n---\n\n#### 2. **Crypto Info**\n- **Endpoint**: `/v2/cryptocurrency/info`\n- **Purpose**: Get metadata like description, whitepaper, and social links.\n- **Supported Inputs**:\n  - `symbol` – (Required) Comma-separated symbols\n- **Use Cases**:\n  - “Show me the whitepaper for ETH.”\n  - “What’s the website and Twitter handle of DOGE?”\n\n---\n\n#### 3. **Crypto Listings**\n- **Endpoint**: `/v1/cryptocurrency/listings/latest`\n- **Purpose**: Ranked list of coins sorted by market cap.\n- **Supported Inputs**:\n  - `start` – (e.g., 1 for top coin, 101 for rank 101+)\n  - `limit` – (e.g., 10 for top 10)\n  - `convert` – Currency to convert values into (e.g., USD, EUR)\n- **Use Cases**:\n  - “Show me the top 20 coins.”\n  - “What are the top 5 coins in EUR?”\n\n---\n\n#### 4. **CoinMarketCap Price**\n- **Endpoint**: `/v2/cryptocurrency/quotes/latest`\n- **Purpose**: Real-time price, volume, and market cap.\n- **Supported Inputs**:\n  - `symbol` – (Required) Single or multiple symbols\n  - `convert` – Currency to display results in (e.g., USD)\n- **Use Cases**:\n  - “What’s the current price of ADA?”\n  - “How much volume has BTC traded in the last 24h?”\n\n---\n\n#### 5. **Global Metrics**\n- **Endpoint**: `/v1/global-metrics/quotes/latest`\n- **Purpose**: Global crypto market stats.\n- **Supported Inputs**:\n  - *(None required)*\n- **Use Cases**:\n  - “What’s the total crypto market cap?”\n  - “How dominant is Bitcoin?”\n\n---\n\n#### 6. **Price Conversion**\n- **Endpoint**: `/v1/tools/price-conversion`\n- **Purpose**: Convert one crypto/fiat into another.\n- **Supported Inputs**:\n  - `amount` – (Required) Numerical amount to convert\n  - `symbol` – (Required) The crypto to convert from\n  - `convert` – (Required) The target currency (e.g., BTC, USD)\n- **Use Cases**:\n  - “Convert 5 ETH to USD.”\n  - “What’s 1000 DOGE in BTC?”\n\n"}},"id":"fc7677a0-60f5-46c2-8b05-b792e925d457","name":"CoinMarketCap Crypto Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1300,1040],"typeVersion":1.8},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"4b4e2b26-fd74-4368-a521-77a1b23c2dd2","name":"Crypto Agent Brain","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[740,1300],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"gVWPQBTPJWEjy9Km","name":"OpenAi account 2"}}},{"parameters":{"toolDescription":"The tool going to recieve input of cryptocurrency name and then request the price from CoinMarketCap and send the price back in a message.","url":"https://pro-api.coinmarketcap.com/v2/cryptocurrency/quotes/latest","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"symbol"},{"name":"convert"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept","valueProvider":"fieldValue","value":"application/json"}]}},"id":"c9785e4a-832f-4174-ba9b-c9f87a8e81f4","name":"CoinMarketCap Price","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1640,1300],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"toolDescription":"Get a map of all cryptocurrencies with CoinMarketCap ID, name, and symbol.","url":"https://pro-api.coinmarketcap.com/v1/cryptocurrency/map","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"symbol","valueProvider":"modelOptional"},{"name":"listing_status","valueProvider":"modelOptional"},{"name":"start","valueProvider":"modelOptional"},{"name":"limit","valueProvider":"modelOptional"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept","valueProvider":"fieldValue","value":"application/json"}]}},"id":"01adfb14-3b9b-48e1-ad4a-5e3cdbe3ffc9","name":"Crypto Map","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1100,1300],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"toolDescription":"Get metadata for one or more cryptocurrencies including logo, description, and links.\n\n","url":"https://pro-api.coinmarketcap.com/v2/cryptocurrency/info","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"symbol"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept"}]}},"id":"fdbbb398-8ebe-4069-93dd-db8616437502","name":"Crypto Info","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1280,1300],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"toolDescription":"Retrieve a ranked list of cryptocurrencies sorted by market cap. Supports pagination and conversion currency.","url":"https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"start"},{"name":"limit"},{"name":"convert"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept"}]}},"id":"f976230a-9879-4239-ac2c-9e6ee349cac7","name":"Crypto Listings","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1460,1300],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"toolDescription":"Returns global crypto market metrics including market cap, 24h volume, BTC dominance, and total active cryptocurrencies.","url":"https://pro-api.coinmarketcap.com/v1/global-metrics/quotes/latest","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept"}]}},"id":"f89d1ac9-54c1-46fe-b5dc-1ee6671612a8","name":"Global Metrics","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1840,1300],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"toolDescription":"Convert cryptocurrency or fiat value from one currency to another.","url":"https://pro-api.coinmarketcap.com/v1/tools/price-conversion","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"amount"},{"name":"symbol"},{"name":"convert"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept"}]}},"id":"9cceb7e4-bf43-4371-b96c-36b3a3ddc153","name":"Price Conversion","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[2040,1300],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"content":"# 🧠 CoinMarketCap_Crypto_Agent_Tool Guide\n\nThis agent is part of the modular **CoinMarketCap AI Analyst** system in **n8n**, focused on **cryptocurrency-level queries** such as price, supply, metadata, rankings, and conversions.\n\n## 🔌 Endpoints Supported:\n1. `/v1/cryptocurrency/map` – Get IDs, symbols, names\n2. `/v2/cryptocurrency/info` – Get metadata, logos, whitepapers\n3. `/v1/cryptocurrency/listings/latest` – Market rankings by cap\n4. `/v2/cryptocurrency/quotes/latest` – Price, volume, and supply\n5. `/v1/global-metrics/quotes/latest` – Total market cap, BTC dominance\n6. `/v1/tools/price-conversion` – Fiat and crypto conversions\n\n## 🧠 Node Overview:\n- **🧠 Brain**: `GPT-4o Mini`\n- **💾 Memory**: Session context buffer\n- **⚙️ Tools**: 6 live API endpoints\n\n## ⚙️ Required Inputs:\n- `message` – User query\n- `sessionId` – Used to preserve memory between calls\n\n## 📝 Tip:\nUse descriptive prompts like:\n- “What is the CoinMarketCap ID for ETH?”\n- “Convert 1000 DOGE to BTC.”\n- “Show top 10 tokens by market cap.”","height":840,"width":840},"id":"07279db5-1edb-4f85-9920-cddf3134fea3","name":"Crypto Agent Guide","type":"n8n-nodes-base.stickyNote","position":[-60,40],"typeVersion":1},{"parameters":{"content":"## 📌 Usage Instructions\n\n### ✅ Step 1: Provide Inputs\nUse `symbol`, `amount`, `convert`, `start`, `limit` where needed.\n\n### ✅ Step 2: Trigger from Supervisor\nSupervisor AI sends the message and sessionId to this agent.\n\n### ✅ Step 3: Review Output\nReturns raw JSON or formatted insights.\n\n---\n\n## 🔍 Sample Prompts\n\n### 1️⃣ Convert 5 ETH to USD\n```plaintext\nGET /v1/tools/price-conversion?amount=5&symbol=ETH&convert=USD\n```\n\n### 2️⃣ Get CoinMarketCap ID of SHIB\n```plaintext\nGET /v1/cryptocurrency/map?symbol=SHIB\n```\n\n### 3️⃣ View total market cap\n```plaintext\nGET /v1/global-metrics/quotes/latest\n```\n\n### 4️⃣ Top 5 coins in EUR\n```plaintext\nGET /v1/cryptocurrency/listings/latest?limit=5&convert=EUR\n```","height":900,"width":720,"color":5},"id":"4c11a07d-7086-44fb-9263-64d07f7bf2c0","name":"Usage & Examples","type":"n8n-nodes-base.stickyNote","position":[920,20],"typeVersion":1},{"parameters":{"content":"## ⚠️ API Errors & Troubleshooting\n\n| Code | Message |\n|------|---------|\n| 200  | OK ✅ |\n| 400  | Bad Request – Check inputs |\n| 401  | Unauthorized – Invalid/missing API key |\n| 429  | Rate limit exceeded – Slow down |\n| 500  | CoinMarketCap server issue |\n\n### ✅ Tips:\n- Double check symbols and convert params\n- Use `start`, `limit`, `convert` for pagination\n- Add delay to avoid 429 rate limits\n\n---\n\n## 🛠️ Need Help?\n🔗 [Don Jayamaha – LinkedIn](https://linkedin.com/in/donjayamahajr)\n\n© 2025 Treasurium Capital Limited Company. All rights reserved.\nThis AI workflow architecture, including logic, design, and prompt structures, is the intellectual property of Treasurium Capital Limited Company. Unauthorized reproduction, redistribution, or resale is prohibited under U.S. copyright law. Licensed use only.","height":560,"width":600,"color":3},"id":"c297226c-f557-4ea7-a8f2-3d91b61fdabd","name":"Errors & Licensing","type":"n8n-nodes-base.stickyNote","position":[1820,20],"typeVersion":1}],"connections":{"Crypto Map":{"ai_tool":[[{"node":"CoinMarketCap Crypto Agent","type":"ai_tool","index":0}]]},"Crypto Info":{"ai_tool":[[{"node":"CoinMarketCap Crypto Agent","type":"ai_tool","index":0}]]},"Global Metrics":{"ai_tool":[[{"node":"CoinMarketCap Crypto Agent","type":"ai_tool","index":0}]]},"Crypto Listings":{"ai_tool":[[{"node":"CoinMarketCap Crypto Agent","type":"ai_tool","index":0}]]},"Price Conversion":{"ai_tool":[[{"node":"CoinMarketCap Crypto Agent","type":"ai_tool","index":0}]]},"Crypto Agent Brain":{"ai_languageModel":[[{"node":"CoinMarketCap Crypto Agent","type":"ai_languageModel","index":0}]]},"CoinMarketCap Price":{"ai_tool":[[{"node":"CoinMarketCap Crypto Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"CoinMarketCap Crypto Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"250293f0-e45c-465c-9eb2-0cfe64c3532b","triggerCount":0,"shared":[{"createdAt":"2025-05-15T16:42:26.851Z","updatedAt":"2025-05-15T16:42:26.851Z","role":"workflow:owner","workflowId":"WgTuitczjrr2eJ2J","projectId":"gUCywJdvaDilwkpK","project":{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T16:20:44.477Z","id":"gUCywJdvaDilwkpK","name":"Jim Pansen <ealderino@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T15:52:32.999Z","role":"project:personalOwner","userId":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","projectId":"gUCywJdvaDilwkpK","user":{"createdAt":"2025-05-15T15:51:26.918Z","updatedAt":"2025-05-15T21:05:21.758Z","id":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","email":"ealderino@gmail.com","firstName":"Jim","lastName":"Pansen","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"qRNnienRApKIiDBL","userActivatedAt":1747343115191,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}