n8n/workflows/CoinMarketCap Exchange and Community Agent.json
{"createdAt":"2025-05-15T10:21:46.692Z","updatedAt":"2025-05-15T12:18:04.266Z","id":"xP0a49atql0nd9az","name":"CoinMarketCap Exchange and  Community Agent","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"}]}},"id":"cec1af19-70cc-4ffd-93c2-33d51ab0d4bb","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1220,960],"typeVersion":1.1},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"You are a **digital asset intelligence agent** designed to provide deep insights into the cryptocurrency ecosystem by querying CoinMarketCap's API. You support data retrieval across exchanges, community sentiment, and index tracking.\n\n---\n\n### 🛠️ Available Tools & Capabilities\n\n#### 1. 🔍 **Exchange Map**\n- **Purpose:** Retrieve a list of all registered cryptocurrency exchanges.\n- **Endpoint:** `https://pro-api.coinmarketcap.com/v1/exchange/map`\n- **Query Parameters:** \n  - `slug` (recommended starting point)\n  - `listing_status`, `start`, `limit`, `crypto_id`\n- **Returns:** Exchange ID, name, slug — essential for identifying exchanges.\n- **Usage:** Use first to acquire the `id` needed by other tools.\n\n---\n\n#### 2. 🧾 **Exchange Info**\n- **Purpose:** Obtain metadata for a specific exchange.\n- **Endpoint:** `https://pro-api.coinmarketcap.com/v1/exchange/info`\n- **Required Parameter:** `id` (from Exchange Map)\n- **Returns:** Description, launch year, country, website/Twitter links, and status.\n\n---\n\n#### 3. 💰 **Exchange Assets**\n- **Purpose:** View on-chain token holdings of an exchange.\n- **Endpoint:** `https://pro-api.coinmarketcap.com/v1/exchange/assets`\n- **Required Parameter:** `id` (from Exchange Map)\n- **Returns:** Token balances, wallet addresses, blockchain platform, and USD value.\n\n---\n\n#### 4. 📈 **CMC 100 Index**\n- **Purpose:** Get the latest CoinMarketCap 100 Index data.\n- **Endpoint:** `https://pro-api.coinmarketcap.com/v3/index/cmc100-latest`\n- **Returns:** Constituents of the index and their weights.\n\n---\n\n#### 5. 😱 **Fear and Greed Index (Latest)**\n- **Purpose:** Access current crypto market sentiment.\n- **Endpoint:** `https://pro-api.coinmarketcap.com/v3/fear-and-greed/latest`\n- **Returns:** Sentiment index score and classification (e.g., Fear, Greed).\n\n---\n\n### ⚠️ Error Trap: API Response Overload\nIf the API response returns **too much data** and exceeds the GPT model's token limit:\n- Notify the user with the message:  \n  **\"⚠️ The requested data exceeds the processing capacity of this model. Please refine your query by limiting results or filtering data.\"**\n- Suggest parameters like `limit`, `start`, or using a specific `id` or `slug` to reduce data size.\n\n---\n\nKeep responses structured, insightful, and performant. Always validate if required parameters are available before invoking a tool. Prioritize `Exchange Map` for ID resolution before calling `Exchange Info` or `Exchange Assets`. Try to never query the complete exchange list, use the exchange `slug`."}},"id":"0cbce579-e471-49f0-945e-5ddc9d6da201","name":"CoinMarketCap Exchange and Community Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1680,960],"typeVersion":1.8},{"parameters":{"toolDescription":"Get a map of all crypto exchanges with CoinMarketCap ID, name, and slug.\n\n1st query with only the slug only, if error then try others.","url":"https://pro-api.coinmarketcap.com/v1/exchange/map","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"slug"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept"}]}},"id":"02ea4989-22a4-4eed-aa08-bcf5b8990464","name":"Exchange Map","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1600,1240],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"toolDescription":"Get metadata for a crypto exchange including description, launch date, country, and links.","url":"https://pro-api.coinmarketcap.com/v1/exchange/info","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"id"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept"}]}},"id":"b95033d0-695e-4eaf-8bac-5fb9e80dd4eb","name":"Exchange Info","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1780,1240],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"toolDescription":"Returns the latest CoinMarketCap 100 Index value, including constituents and their weights.","url":"https://pro-api.coinmarketcap.com/v3/index/cmc100-latest","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept"}]}},"id":"ecd0ef68-1522-4e74-a9cf-341e26ebe001","name":"CMC 100 Index","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[2120,1240],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"toolDescription":"Returns the latest value from the CMC Crypto Fear and Greed Index.","url":"https://pro-api.coinmarketcap.com/v3/fear-and-greed/latest","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept"}]}},"id":"41e8352c-2292-479f-98b9-75849f10edd5","name":"Fear and Greed Latest","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[2300,1240],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"toolDescription":"Returns token holdings of a specific exchange including wallet addresses, platform, balance, and USD value.","url":"https://pro-api.coinmarketcap.com/v1/exchange/assets","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"parametersQuery":{"values":[{"name":"id"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"Accept"}]}},"id":"5ffc4236-4711-49ce-a30b-b0f156b4871a","name":"Exchange Assets","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1940,1240],"typeVersion":1.1,"credentials":{"httpHeaderAuth":{"id":"7agyDTGMBAE3hGWO","name":"Coinmarketcap API"}}},{"parameters":{"content":"# 🧠 CoinMarketCap_Exchange_and_Community_Agent_Tool Guide\n\nThis agent handles **exchange-level** data, **community sentiment**, and **index insights** using CoinMarketCap API endpoints.\n\n## 🔌 Supported Tools\n1. `/v1/exchange/map` – Get exchange ID, name, and slug\n2. `/v1/exchange/info` – Metadata: launch date, social, location\n3. `/v1/exchange/assets` – Token holdings of exchange\n4. `/v3/index/cmc100-latest` – CoinMarketCap 100 Index info\n5. `/v3/fear-and-greed/latest` – Sentiment index (0–100)\n\n## 🧠 Agent Components:\n- **🧠 Brain**: GPT-4o Mini\n- **💾 Memory**: Conversation state handler\n- **⚙️ Tools**: 5 direct API endpoints\n\n## 🧩 Trigger Parameters:\n- `message` – Main query prompt\n- `sessionId` – Contextual memory key\n\n## 🔑 Notes:\n- Use `Exchange Map` to get valid `id` before calling `Exchange Info` or `Assets`\n- Fear & Greed index returns daily updated data points\n- Index tools return structured component weights","height":720,"width":1200},"id":"8afb6398-414e-41b0-958b-7ac0bf4f0cd3","name":"Exchange & Community Guide","type":"n8n-nodes-base.stickyNote","position":[-140,-60],"typeVersion":1},{"parameters":{"content":"## 📌 Usage Instructions\n\n### ✅ Step 1: Provide Inputs\nUse `slug` for exchanges or `id` for metadata/assets. \n\n### ✅ Step 2: Trigger from Supervisor Agent\nThe main workflow will send `message` and `sessionId`.\n\n### ✅ Step 3: Results Output\nReturns JSON with insights on exchanges or index data.\n\n---\n\n## 🔍 Example Prompts\n\n### 1️⃣ Show latest Fear & Greed score\n```plaintext\nGET /v3/fear-and-greed/latest\n```\n\n### 2️⃣ Get Binance exchange token holdings\n```plaintext\n1. GET /v1/exchange/map?slug=binance\n2. Use ID to query /v1/exchange/assets?id=...\n```\n\n### 3️⃣ What coins make up the CMC 100 Index?\n```plaintext\nGET /v3/index/cmc100-latest\n```\n\n### 4️⃣ Show info on Coinbase\n```plaintext\n1. /v1/exchange/map?slug=coinbase\n2. /v1/exchange/info?id=...\n```","height":920,"width":840,"color":5},"id":"fef9a478-8e2a-4d1b-bb26-89dcfc084981","name":"Usage & Examples","type":"n8n-nodes-base.stickyNote","position":[1300,-60],"typeVersion":1},{"parameters":{"content":"## ⚠️ Error Handling Tips\n\n| Error Code | Meaning |\n|------------|---------|\n| `400` | Bad Request – missing/invalid param |\n| `401` | Unauthorized – check API key |\n| `429` | Rate Limit Exceeded |\n| `500` | CoinMarketCap server error |\n\n### ⚠️ Large Response Warning\nIf result data exceeds memory limits:\n- Prompt: _“⚠️ Data too large, refine query with limit or filters.”_\n\n---\n\n**Need Help?**  \n🌐 Connect on LinkedIn:  \n🔗 [http://linkedin.com/in/donjayamahajr](http://linkedin.com/in/donjayamahajr)\n\n© 2025 Treasurium Capital Limited Company. All rights reserved.\nThis AI workflow architecture, including logic, design, and prompt structures, is the intellectual property of Treasurium Capital Limited Company. Unauthorized reproduction, redistribution, or resale is prohibited under U.S. copyright law. Licensed use only.","height":500,"width":640,"color":3},"id":"7da50a1b-f1bf-4dc4-9973-e6a8913aa311","name":"Errors & Licensing","type":"n8n-nodes-base.stickyNote","position":[2400,-60],"typeVersion":1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1240,1240],"id":"6b1a58c1-2722-4bd6-8c95-216c822360c6","name":"Exchange and Community Agent Brain1","credentials":{"openAiApi":{"id":"gVWPQBTPJWEjy9Km","name":"OpenAi account 2"}}}],"connections":{"Exchange Map":{"ai_tool":[[{"node":"CoinMarketCap Exchange and Community Agent","type":"ai_tool","index":0}]]},"CMC 100 Index":{"ai_tool":[[{"node":"CoinMarketCap Exchange and Community Agent","type":"ai_tool","index":0}]]},"Exchange Info":{"ai_tool":[[{"node":"CoinMarketCap Exchange and Community Agent","type":"ai_tool","index":0}]]},"Exchange Assets":{"ai_tool":[[{"node":"CoinMarketCap Exchange and Community Agent","type":"ai_tool","index":0}]]},"Fear and Greed Latest":{"ai_tool":[[{"node":"CoinMarketCap Exchange and Community Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"CoinMarketCap Exchange and Community Agent","type":"main","index":0}]]},"Exchange and Community Agent Brain1":{"ai_languageModel":[[{"node":"CoinMarketCap Exchange and Community Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38097333-c62e-4114-96ce-b462eb368ab4","triggerCount":0,"shared":[{"createdAt":"2025-05-15T16:42:26.851Z","updatedAt":"2025-05-15T16:42:26.851Z","role":"workflow:owner","workflowId":"xP0a49atql0nd9az","projectId":"gUCywJdvaDilwkpK","project":{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T16:20:44.477Z","id":"gUCywJdvaDilwkpK","name":"Jim Pansen <ealderino@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T15:52:32.999Z","role":"project:personalOwner","userId":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","projectId":"gUCywJdvaDilwkpK","user":{"createdAt":"2025-05-15T15:51:26.918Z","updatedAt":"2025-05-15T21:05:21.758Z","id":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","email":"ealderino@gmail.com","firstName":"Jim","lastName":"Pansen","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"qRNnienRApKIiDBL","userActivatedAt":1747343115191,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}