n8n/workflows/Nextcloud Agent.json
{"createdAt":"2025-05-15T08:24:33.764Z","updatedAt":"2025-05-15T08:48:50.560Z","id":"9MWf8abdPkcXHHvL","name":"Nextcloud Agent","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[20,-160],"id":"40fb2e43-49db-4dc5-abc4-88f148ee74a4","name":"When Executed by Another Workflow"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,0],"id":"b6b86db2-7d3f-41a7-a586-7c8af968d320","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"gVWPQBTPJWEjy9Km","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,-260],"id":"3d4ad51d-d230-4b77-b573-d017ee106065","name":"Response"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,-160],"id":"97d343ec-9c0a-4e4b-ac7e-d8004c0c20af","name":"Nextcloud Agent","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,-80],"id":"d3895925-9d4d-423a-9043-faa660388ae5","name":"Try Again"},{"parameters":{"operation":"delete","path":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Delete_Path', ``, 'string') }}"},"type":"n8n-nodes-base.nextCloudTool","typeVersion":1,"position":[300,180],"id":"11418d8d-823f-44fe-884b-d42a9e94cfe5","name":"Delete File","credentials":{"nextCloudApi":{"id":"OYLNXE1Mc3lHFEEY","name":"NextCloud account"}}},{"parameters":{"operation":"share","path":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}","shareType":3,"options":{}},"type":"n8n-nodes-base.nextCloudTool","typeVersion":1,"position":[420,180],"id":"7c3e7b4d-1bc2-4af7-8260-403202950390","name":"Share File Public Link","credentials":{"nextCloudApi":{"id":"OYLNXE1Mc3lHFEEY","name":"NextCloud account"}}},{"parameters":{"resource":"folder","operation":"list","path":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Folder_Path', ``, 'string') }}"},"type":"n8n-nodes-base.nextCloudTool","typeVersion":1,"position":[560,180],"id":"f75754d1-847a-4841-bf3d-2ed107d1f9d4","name":"List Folder Content","credentials":{"nextCloudApi":{"id":"OYLNXE1Mc3lHFEEY","name":"NextCloud account"}}},{"parameters":{"operation":"download","path":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Path', ``, 'string') }}","binaryPropertyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Put_Output_File_in_Field', ``, 'string') }}"},"type":"n8n-nodes-base.nextCloudTool","typeVersion":1,"position":[180,180],"id":"b61206b1-14ff-47c8-8ce5-d44c19c12fde","name":"Download File","credentials":{"nextCloudApi":{"id":"OYLNXE1Mc3lHFEEY","name":"NextCloud account"}}},{"parameters":{"path":"={{ $fromAI('File_Path', ``, 'string') }}","binaryDataUpload":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Binary_File', ``, 'boolean') }}"},"type":"n8n-nodes-base.nextCloudTool","typeVersion":1,"position":[60,180],"id":"e35e44de-9699-4e90-bd47-8dd59f5deae4","name":"Upload File","credentials":{"nextCloudApi":{"id":"OYLNXE1Mc3lHFEEY","name":"NextCloud account"}}},{"parameters":{"resource":"folder","path":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Folder', ``, 'string') }}"},"type":"n8n-nodes-base.nextCloudTool","typeVersion":1,"position":[700,180],"id":"b97b1e53-96ab-41b6-98d8-041c26a67166","name":"Create Folder","credentials":{"nextCloudApi":{"id":"OYLNXE1Mc3lHFEEY","name":"NextCloud account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Nextcloud Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Nextcloud Agent","type":"ai_languageModel","index":0}]]},"Nextcloud Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"Delete File":{"ai_tool":[[{"node":"Nextcloud Agent","type":"ai_tool","index":0}]]},"Share File Public Link":{"ai_tool":[[{"node":"Nextcloud Agent","type":"ai_tool","index":0}]]},"List Folder Content":{"ai_tool":[[{"node":"Nextcloud Agent","type":"ai_tool","index":0}]]},"Download File":{"ai_tool":[[{"node":"Nextcloud Agent","type":"ai_tool","index":0}]]},"Upload File":{"ai_tool":[[{"node":"Nextcloud Agent","type":"ai_tool","index":0}]]},"Create Folder":{"ai_tool":[[{"node":"Nextcloud Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f35805f6-89bd-420b-abd3-4f559247d318","triggerCount":0,"shared":[{"createdAt":"2025-05-15T16:42:26.851Z","updatedAt":"2025-05-15T16:42:26.851Z","role":"workflow:owner","workflowId":"9MWf8abdPkcXHHvL","projectId":"gUCywJdvaDilwkpK","project":{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T16:20:44.477Z","id":"gUCywJdvaDilwkpK","name":"Jim Pansen <ealderino@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T15:52:32.999Z","role":"project:personalOwner","userId":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","projectId":"gUCywJdvaDilwkpK","user":{"createdAt":"2025-05-15T15:51:26.918Z","updatedAt":"2025-05-15T21:05:21.758Z","id":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","email":"ealderino@gmail.com","firstName":"Jim","lastName":"Pansen","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"qRNnienRApKIiDBL","userActivatedAt":1747343115191,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}