n8n/workflows/Nextcloud Workflow Backup.json
{"createdAt":"2025-05-14T11:18:44.888Z","updatedAt":"2025-05-15T11:50:27.403Z","id":"3ADmNCQ57SJZOgt7","name":"Nextcloud Workflow Backup","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-240,60],"typeVersion":1,"id":"a302eb0f-c933-49ba-827b-07e9a9615e59"},{"parameters":{"mode":"jsonToBinary","options":{"useRawData":false}},"name":"Move Binary Data","type":"n8n-nodes-base.moveBinaryData","position":[700,60],"typeVersion":1,"id":"fb51773c-d7a4-4f14-8cbf-057023efd5b3"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[0,60],"id":"7dd09dd3-b97c-4cbb-add8-3af9c06ae4c8","name":"n8n","credentials":{"n8nApi":{"id":"H0KXQ1ta2bCVhuUR","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[180,60],"id":"a8904072-db56-4cea-9a0e-741175370012","name":"Loop Over Items"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[420,60],"id":"eb9cfeef-5026-4ea3-b80a-f079a99d60f4","name":"n8n1","credentials":{"n8nApi":{"id":"H0KXQ1ta2bCVhuUR","name":"n8n account"}}},{"parameters":{"path":"=/n8n/workflows/{{ $('n8n1').item.json.name }}.json","binaryDataUpload":true,"binaryPropertyName":"=data"},"type":"n8n-nodes-base.nextCloud","typeVersion":1,"position":[880,60],"id":"b96bc04d-d721-4f6e-a84b-7a2a4cfe7960","name":"Nextcloud","credentials":{"nextCloudApi":{"id":"OYLNXE1Mc3lHFEEY","name":"NextCloud account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"event_name\": \"{{ $json[\"Subject\"] }}\",\n  \"event_location\": \"{{ $json[\"loation\"] }}\",\n  \"start_time\": \"{{ $json[\"startMeeting\"] }}\",\n  \"end_time\": \"{{ $json[\"endMeeting\"] }}\",\n  \"from\": \"{{ $json[\"From\"] }}\",\n  \"body\": \"{{ $json[\"Body\"].replace(/[\\r\\n]+/g, ' ').trim() }}\",\n  \"name\": \"{{ $json[\"Name\"] }}\",\n  \"email\": \"{{ $json[\"address\"] }}\"\n}\n ","options":{}},"id":"c30b3232-6831-46c4-b88b-a8adf6d1ad0d","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[140,-260]},{"parameters":{"method":"PUT","url":"=https://nextcloud.yourdomain.com/remote.php/dav/calendars/<user_user>/<calendar_name>/{{ $('Edit Fields1').item.json[\"name\"] }}{{ $('Edit Fields1').item.json[\"end_time\"] }}.ics","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"text/calendar"},{"name":"Authorization","value":"=Basic {{ $json.encoded_credentials }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/calendar","body":"={{$json[\"event_data\"]}}","options":{}},"id":"256322df-139d-4b84-9ff1-7c50fbcd190e","name":"CalDAV PUT request to Server1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,-260]},{"parameters":{"jsCode":"//nextcloud login and password\nconst username = \"username\";\nconst password = \"Password\";\n// Access the data directly from $json\n\n// Set up event details\nconst event_name = $json[\"event_name\"] || \"Default Event Name\";\nconst event_location = $json[\"event_location\"] || \"Default Location\";\nconst start_time = $json[\"start_time\"];  // Expecting an ISO 8601 formatted date string\nconst end_time = $json[\"end_time\"];      // Expecting an ISO 8601 formatted date string\nconst from = $json[\"from\"] || \"Default Email\";\nconst body = $json[\"body\"] || \"No description provided\"; // Cleaned body\nconst name = $json[\"name\"] || \"No Name\";\n\n\n\n// Create the iCalendar data\nconst eventUID = new Date().getTime(); // Unique ID based on timestamp\n\n// Format the start and end times\nconst formattedStart = new Date(start_time).toISOString().replace(/[-:]/g, \"\").split(\".\")[0] + \"Z\";\nconst formattedEnd = new Date(end_time).toISOString().replace(/[-:]/g, \"\").split(\".\")[0] + \"Z\";\nconst dtstamp = new Date().toISOString().replace(/[-:]/g, \"\").split(\".\")[0] + \"Z\";\n\n// Create the iCalendar data\nconst event_data = `BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//n8n Integration//CalDAV Event//EN\nBEGIN:VEVENT\nUID:${eventUID}\nDTSTAMP:${dtstamp}\nDTSTART:${formattedStart}\nDTEND:${formattedEnd}\nSUMMARY:${event_name}\nLOCATION:${event_location}\nDESCRIPTION:${body}\nATTENDEE;PARTSTAT=ACCEPTED;ROLE=CHAIR:mailto:${from}\nEND:VEVENT\nEND:VCALENDAR`;\n\n// Encode credentials\nconst encodedCredentials = Buffer.from(`${username}:${password}`).toString(\"base64\");\n\n// Set it to output so you can use it in the HTTP Request Node\nreturn {\n    event_data: event_data,\n    encoded_credentials: encodedCredentials\n};\n"},"id":"3b962a88-1db0-4338-8436-deb26fcdce24","name":"Format CalDAV event1","type":"n8n-nodes-base.code","typeVersion":2,"position":[340,-260]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-120],"id":"31121b91-d7df-4aef-ab4e-622f23e1e931","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"=done","type":"string"}]},"options":{}},"id":"9947a7bb-efe3-46b8-bbdc-ba20dfb27784","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,-100]}],"connections":{"Move Binary Data":{"main":[[{"node":"Nextcloud","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"n8n1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Move Binary Data","type":"main","index":0}]]},"Nextcloud":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Format CalDAV event1","type":"main","index":0}]]},"Format CalDAV event1":{"main":[[{"node":"CalDAV PUT request to Server1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Success":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7c164490-2e7d-4330-a35a-3e61a1895808","triggerCount":0,"shared":[{"createdAt":"2025-05-15T16:42:26.851Z","updatedAt":"2025-05-15T16:42:26.851Z","role":"workflow:owner","workflowId":"3ADmNCQ57SJZOgt7","projectId":"gUCywJdvaDilwkpK","project":{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T16:20:44.477Z","id":"gUCywJdvaDilwkpK","name":"Jim Pansen <ealderino@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T15:52:32.999Z","role":"project:personalOwner","userId":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","projectId":"gUCywJdvaDilwkpK","user":{"createdAt":"2025-05-15T15:51:26.918Z","updatedAt":"2025-05-15T21:05:21.758Z","id":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","email":"ealderino@gmail.com","firstName":"Jim","lastName":"Pansen","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"qRNnienRApKIiDBL","userActivatedAt":1747343115191,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}