n8n/workflows/Technical Analysis Agent.json
{"createdAt":"2025-05-16T17:27:28.712Z","updatedAt":"2025-05-16T19:12:13.061Z","id":"uBvv9bA2A3UqTCJd","name":"Technical Analysis Agent","active":false,"nodes":[{"parameters":{"content":"## Get Chart & Technical Analysis Workflow","height":240,"width":1580},"type":"n8n-nodes-base.stickyNote","position":[-240,780],"typeVersion":1,"id":"a427fc26-cfa6-4393-947b-a7e962890f2e","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"8de7d5f1-786c-4c4d-afcf-80934762598a","name":"content","value":"={{ $json.choices[0].message.content }}","type":"string"},{"id":"62375cd4-d5db-41c9-82f2-b0860ac3a21b","name":"charturl","value":"={{ $('Get Chart URL').item.json.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,860],"id":"b47011da-34aa-4fc4-b270-ef7faa6efeb8","name":"response"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=# Role\n\nYou are an expert financial analyst specializing in technical analysis of stock charts. Your role is to analyze financial charts provided to you and offer comprehensive insights into the technical aspects, including candlestick patterns, MACD indicators, volume trends, and overall market sentiment. You must provide a detailed breakdown of the chart, highlighting key areas of interest and actionable insights.\n\nWhen analyzing a stock chart, always include the following:\n\n1. **Candlestick Analysis**:\n   - Identify and explain any significant candlestick patterns (e.g., bullish engulfing, doji, hammer).\n   - Comment on the overall trend (bullish, bearish, or sideways).\n   - Highlight any breakout or pullback zones.\n\n2. **MACD Analysis**:\n   - Describe the current state of the MACD line and Signal line (e.g., bullish crossover, bearish crossover).\n   - Discuss the MACD histogram and its implications for momentum.\n   - Identify any divergences between the MACD and the price action.\n\n3. **Volume Analysis**:\n   - Highlight any significant changes in trading volume.\n   - Explain how volume supports or contradicts price movements.\n   - Indicate any unusual spikes in volume that may suggest institutional activity.\n\n4. **Support and Resistance Levels**:\n   - Identify key support and resistance zones based on the chart.\n   - Discuss the importance of these levels for potential reversals or breakouts.\n\n5. **Actionable Insights**:\n   - Provide clear guidance on potential buy, sell, or hold strategies.\n   - Suggest what to watch for in the near term, including confirmation signals or potential risks.\n\n6. **Other Observations**:\n   - Note any patterns or indicators that are relevant to the analysis.\n   - Offer insights into market sentiment or other broader trends based on the chart.\n\nBe clear, concise, and data-driven in your analysis. Your goal is to provide actionable information that traders and investors can use to make informed decisions. Always explain your reasoning for any conclusions you draw from the chart.\n\nYour Analysis output should be clean markdown without special characters.","inputType":"base64","simplify":false,"options":{"detail":"auto"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[720,860],"id":"fc32dd37-5ac3-46c5-a6f6-179ca9d8e686","name":"Technical Analysis","credentials":{"openAiApi":{"id":"gVWPQBTPJWEjy9Km","name":"OpenAi account 2"}}},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,860],"id":"d59e1cba-9dbb-48cb-b164-40e0888afbc9","name":"Download Chart"},{"parameters":{"method":"POST","url":"https://api.chart-img.com/v2/tradingview/advanced-chart/storage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"YOUR API KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"theme\": \"dark\",\n  \"interval\": \"1W\",\n  \"symbol\": \"{{ $json.ticker }}\",\n  \"override\": {\n    \"showStudyLastValue\": false\n  },\n  \"studies\": [\n    {\n      \"name\": \"Volume\",\n      \"forceOverlay\": true\n    },\n    {\n      \"name\": \"MACD\",\n      \"override\": {\n        \"Signal.linewidth\": 2,\n        \"Signal.color\": \"rgb(255,65,129)\"\n      }\n    }\n  ]\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,860],"id":"c3132cd9-7a7e-4725-9d29-83b0e09fd125","name":"Get Chart URL","credentials":{"httpHeaderAuth":{"id":"sGLXCppOfZmQuL9u","name":"Chart-IMG.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"cf5f7210-5b54-4f4a-abf7-87873be82df4","name":"ticker","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,860],"id":"25ee40b6-b7f9-44d5-a122-37ffe85d74c0","name":"Set Ticker"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-120,860],"id":"415c6e2e-d394-41fb-98d7-c256ba8c8ce3","name":"Workflow Input Trigger"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-120,640],"id":"70a82c09-70f2-429a-bf6c-90e7d943e097","name":"When chat message received","webhookId":"d148c3d6-ed48-4fda-9be5-7ff7e69baa78"},{"parameters":{"assignments":{"assignments":[{"id":"cf5f7210-5b54-4f4a-abf7-87873be82df4","name":"ticker","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,640],"id":"90c81e46-0fc8-49ba-8967-d9118a8ff957","name":"Set Ticker1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[920,820],"id":"3364669f-8fb1-47e4-83ea-51016f89718e","name":"Merge"}],"connections":{"Technical Analysis":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Download Chart":{"main":[[{"node":"Technical Analysis","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Get Chart URL":{"main":[[{"node":"Download Chart","type":"main","index":0}]]},"Set Ticker":{"main":[[{"node":"Get Chart URL","type":"main","index":0}]]},"Workflow Input Trigger":{"main":[[{"node":"Set Ticker","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Set Ticker1","type":"main","index":0}]]},"Set Ticker1":{"main":[[{"node":"Get Chart URL","type":"main","index":0}]]},"response":{"main":[[]]},"Merge":{"main":[[{"node":"response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"92157b6f-cafe-4e5c-95a7-7cd3e6b5faf6","triggerCount":0,"shared":[{"createdAt":"2025-05-16T17:27:28.712Z","updatedAt":"2025-05-16T17:27:28.712Z","role":"workflow:owner","workflowId":"uBvv9bA2A3UqTCJd","projectId":"gUCywJdvaDilwkpK","project":{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T16:20:44.477Z","id":"gUCywJdvaDilwkpK","name":"Jim Pansen <ealderino@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T15:52:32.999Z","role":"project:personalOwner","userId":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","projectId":"gUCywJdvaDilwkpK","user":{"createdAt":"2025-05-15T15:51:26.918Z","updatedAt":"2025-05-15T21:05:21.758Z","id":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","email":"ealderino@gmail.com","firstName":"Jim","lastName":"Pansen","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"qRNnienRApKIiDBL","userActivatedAt":1747343115191,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}