n8n/workflows/web-request.json
{"createdAt":"2025-05-12T09:06:47.762Z","updatedAt":"2025-05-15T10:19:17.613Z","id":"nGeWPrRBjMuXyV5g","name":"web-request","active":false,"nodes":[{"parameters":{"content":"### Convert the query string into JSON, apply the limit for a page length","height":236,"width":616},"id":"6123768e-92b9-4fb3-a4a0-0b74b1df464f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1080,340],"typeVersion":1},{"parameters":{"content":"## Send an error message:\n1. If query param was incorrect, return the instruction. AI Agent should pick up on this and adapt the query on the next iteration.\n2. If the query is OK and an error was during the HTTP Request, then send back the original error message.","height":285.7,"width":491},"id":"1a520656-905e-453d-be0c-51865daa00da","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-20,40],"typeVersion":1},{"parameters":{"content":"## Post-processing of the HTML page:\n1. Keep only <BODY> content\n2. Remove inline <SCRIPT> tag entirely, as well as: NOSCRIPT, IFRAME, OBJECT, EMBED, VIDEO, AUDIO, SVG, and HTML comments.\n3. In case query parameter method=simplified, replace all page URLs (a href) and IMG (src) with NOURL / NOIMG - this may save up to 20% of the page length\n4. Convert the remaining HTML to Markdown. This step further reduces the length of the page: long HTML tags and styles are eliminated, but the markdown syntax keeps some page structure. This gives much better results compared to just a blank text.\n5. Finally, check the page length. If it's too long, send an \"ERROR: PAGE CONTENT TOO LONG\" instead of the actual page. Of course, you could split the page content in chunks, but sometimes long pages just don't have a needed content, so it makes little sense to burn tokens on them.","height":493,"width":1200},"id":"08780199-8682-4dde-a48b-18bb131a471d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-20,360],"typeVersion":1},{"parameters":{"inputSource":"passthrough"},"id":"ee3edf63-7ac8-4f3e-8eaf-f0023a35d897","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1000,400],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"f3a339da-66dc-45f1-852a-cdfe0daa4552","name":"query","type":"object","value":"={{ $json.query.substring($json.query.indexOf('?') + 1).split('&').reduce((result, item) => (result[item.split('=')[0]] = decodeURIComponent(item.split('=')[1]), result), {}) }}"}]},"options":{}},"id":"705ae97f-62c5-4d6a-ac47-642bb86a0683","name":"QUERY_PARAMS","type":"n8n-nodes-base.set","position":[-820,400],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"ce4bb35a-c5ac-430e-b11a-6bf04de2dd90","name":"query.maxlimit","type":"number","value":"={{ $json?.query?.maxlimit == null ? 70000 : Number($json?.query?.maxlimit) }}"}]},"includeOtherFields":true,"options":{}},"id":"35276cdb-8d39-4996-bb6c-0e7e4dbfd674","name":"CONFIG","type":"n8n-nodes-base.set","position":[-640,400],"typeVersion":3.4},{"parameters":{"url":"={{ encodeURI($json.query.url) }}","options":{"allowUnauthorizedCerts":true,"response":{"response":{"neverError":true}}}},"id":"856b3e39-ead5-4242-b1d7-573ae9669736","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[-400,400],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"33937446-5010-47d2-b98f-2f0ceae3fbf5","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.hasOwnProperty('error') }}","rightValue":""}]},"options":{}},"id":"e577cc30-a1d1-44d1-bb92-75fcd283479d","name":"Is error?","type":"n8n-nodes-base.if","position":[-220,400],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"510f74a1-17da-4a2a-b207-9eda19f97ee0","name":"page_content","type":"string","value":"={{ $('QUERY_PARAMS').first()?.json?.query?.url == null ? \"INVALID action_input. This should be an HTTP query string like this: \\\"?url=VALIDURL&method=SELECTEDMETHOD\\\". Only a simple string value is accepted. JSON object as an action_input is NOT supported!\" : JSON.stringify($json.error) }}"}]},"includeOtherFields":true,"include":"selected","includeFields":"HTML","options":{}},"id":"03566641-451d-46ca-bed4-518207aa69dd","name":"Stringify error message","type":"n8n-nodes-base.set","position":[40,180],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"3639b76e-3ae9-4461-8d4c-552bf1c8a6bf","name":"HTML","type":"string","value":"={{ $json?.data.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i)[1] }}"}]},"includeOtherFields":true,"include":"selected","includeFields":"HTML","options":{}},"id":"21bcdd7f-b3b5-4ed0-8461-b54c7d5bc455","name":"Exctract HTML Body","type":"n8n-nodes-base.set","position":[60,680],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"89b927c9-ddc1-4735-a0ea-c1e50a057f76","name":"HTML","type":"string","value":"={{ ($json.HTML || \"HTML BODY CONTENT FOR THIS SEARCH RESULT IS NOT AVAILABLE\").replace(/<script[^>]*>([\\s\\S]*?)<\\/script>|<style[^>]*>([\\s\\S]*?)<\\/style>|<noscript[^>]*>([\\s\\S]*?)<\\/noscript>|<!--[\\s\\S]*?-->|<iframe[^>]*>([\\s\\S]*?)<\\/iframe>|<object[^>]*>([\\s\\S]*?)<\\/object>|<embed[^>]*>([\\s\\S]*?)<\\/embed>|<video[^>]*>([\\s\\S]*?)<\\/video>|<audio[^>]*>([\\s\\S]*?)<\\/audio>|<svg[^>]*>([\\s\\S]*?)<\\/svg>/ig, '')}}"}]},"options":{}},"id":"cb9c4542-240c-4be8-a0a9-98ec1cdc6b43","name":"Remove extra tags","type":"n8n-nodes-base.set","position":[240,680],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"9c3a2a78-b236-4f47-89b0-34967965e01c","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $('CONFIG').first()?.json?.query?.method }}","rightValue":"simplify"}]},"options":{}},"id":"c54d10d6-d33a-4fa6-8eeb-6c05d75772ee","name":"Simplify?","type":"n8n-nodes-base.if","position":[420,680],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"92b08041-799b-4335-aefe-3781a42f8ec0","name":"HTML","type":"string","value":"={{ $json.HTML.replace(/href\\s*=\\s*\"(.+?)\"/gi, 'href=\"NOURL\"').replace(/src\\s*=\\s*\"(.+?)\"/gi, 'src=\"NOIMG\"')}}"}]},"options":{}},"id":"843ce17b-bd4c-4782-9dad-6a7ecd3ad75b","name":"Simplify output","type":"n8n-nodes-base.set","position":[600,580],"typeVersion":3.4},{"parameters":{"html":"={{ $json.HTML }}","destinationKey":"page_content","options":{}},"id":"72817e56-c09e-41f1-95b5-7c2c9ec62190","name":"Convert to Markdown","type":"n8n-nodes-base.markdown","position":[780,680],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"48a78432-2103-44ed-b4d6-7e429ae9e742","name":"page_content","type":"string","value":"={{ $json.page_content.length < $('CONFIG').first()?.json?.query?.maxlimit ? $json.page_content : \"ERROR: PAGE CONTENT TOO LONG\" }}"},{"id":"ec0130f1-16a2-474f-a7cb-96d0e6fc644f","name":"page_length","type":"string","value":"={{ $json.page_content.length }}"}]},"options":{}},"id":"fdcda01d-7204-40db-97de-b7d6756ac54e","name":"Send Page Content","type":"n8n-nodes-base.set","position":[980,680],"typeVersion":3.4}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"QUERY_PARAMS","type":"main","index":0}]]},"QUERY_PARAMS":{"main":[[{"node":"CONFIG","type":"main","index":0}]]},"CONFIG":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Is error?","type":"main","index":0}]]},"Is error?":{"main":[[{"node":"Stringify error message","type":"main","index":0}],[{"node":"Exctract HTML Body","type":"main","index":0}]]},"Exctract HTML Body":{"main":[[{"node":"Remove extra tags","type":"main","index":0}]]},"Remove extra tags":{"main":[[{"node":"Simplify?","type":"main","index":0}]]},"Simplify?":{"main":[[{"node":"Simplify output","type":"main","index":0}],[{"node":"Convert to Markdown","type":"main","index":0}]]},"Simplify output":{"main":[[{"node":"Convert to Markdown","type":"main","index":0}]]},"Convert to Markdown":{"main":[[{"node":"Send Page Content","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0db363ce-4a00-477e-b614-31814164f808","triggerCount":0,"shared":[{"createdAt":"2025-05-15T16:42:26.851Z","updatedAt":"2025-05-15T16:42:26.851Z","role":"workflow:owner","workflowId":"nGeWPrRBjMuXyV5g","projectId":"gUCywJdvaDilwkpK","project":{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T16:20:44.477Z","id":"gUCywJdvaDilwkpK","name":"Jim Pansen <ealderino@gmail.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-05-15T15:52:32.999Z","updatedAt":"2025-05-15T15:52:32.999Z","role":"project:personalOwner","userId":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","projectId":"gUCywJdvaDilwkpK","user":{"createdAt":"2025-05-15T15:51:26.918Z","updatedAt":"2025-05-15T21:05:21.758Z","id":"3b494f43-2f28-4391-8aa2-d0b9c44ffc2a","email":"ealderino@gmail.com","firstName":"Jim","lastName":"Pansen","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"qRNnienRApKIiDBL","userActivatedAt":1747343115191,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}